supervisor
notebook
jupyterhub
jupyterlab
ipywidgets
ipympl
numpy
scipy
pandas
numexpr
pytables
matplotlib
seaborn
sympy
cython
patsy
statsmodels
cloudpickle
dill
dask
numba
hdf5
h5py
protobuf
xlrd
requests
shapely
geopandas
pyspark
sqlalchemy
pymysql
mysqlclient
psycopg2
elasticsearch
pyhive
pydotplus
distance
line_profiler
redis-py
aredis
gensim
python-graphviz
graphviz
gunicorn
uvicorn
fastapi
ujson
smart_open==2.0.0
